body {
  background-color: #363537;
}

#default-title {
  color: white;
  font-size: 40px;
  width: 500px;
}

#form-and-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  color: white;
  height: 15vh;
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

label {
  font-size: 20px;
}

#submit {
  border: transparent solid 2px;
  border-radius: 5px;
  font-size: 16px;
  height: 30px;
  width: 75px;
  margin-left: 8px;
}

#submit:hover {
  box-shadow: 2px 4px 5px black;
}

.date {
  border: transparent solid 2px;
  border-radius: 5px;
  font-size: 18px;
  height: 25px;
  width: 150px;
  margin: 8px;
}

select {
  border-radius: 5px;
  border: transparent solid 2px;
  font-size: 16px;
  height: 30px;
  width: 160px;
  margin-bottom: 5px;
  margin-top: 5px;
}

button {
  border-radius: 5px;
  border: transparent solid 2px;
  font-size: 16px;
  height: 30px;
  width: 160px;
  margin: 5px;
}

.list-item {
  font-size: 20px;
  width: 75%;
  height: 75px;
  border-radius: 5px;
  background-image: linear-gradient(#2FBF71, #8CD867);
  border: white solid 2px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loading {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gear {
  color: white;
  height: 150px;
  width: 150px;
  margin-top: 100px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#list-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  margin-top: 5px;
  font-size: 28px;
}

#list-div {
  width: 99%;
  margin-top: 10px;
}

#list {
  color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#prev-searches {
  margin-top: 5px;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-item {
  color: white;
  font-size: 20px;
}