body {
  background-color: #363537;
}

#default-title {
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  font-size: 50px;
  width: 500px;
  animation: fadeInTitle 3s;
  margin: 0;
  margin-bottom: 10px;
}

@keyframes fadeInTitle {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#default-subtitle {
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  font-size: 50px;
  width: 500px;
  animation: fadeIn 6s;
  margin: 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  40% { opacity: 0}
  100% { opacity: 1; }
}

#form-and-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  color: white;
  height: 15vh;
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

label {
  font-size: 20px;
}

#submit {
  border: transparent solid 2px;
  border-radius: 5px;
  font-size: 16px;
  height: 30px;
  width: 75px;
  margin-left: 8px;
}

#submit:hover {
  box-shadow: 2px 4px 5px black;
  cursor: pointer;
}

.date {
  border: transparent solid 2px;
  border-radius: 5px;
  font-size: 18px;
  height: 25px;
  width: 150px;
  margin: 8px;
}

select {
  border-radius: 5px;
  border: transparent solid 2px;
  font-size: 16px;
  height: 30px;
  width: 160px;
  margin-bottom: 5px;
  margin-top: 5px;
}

button {
  border-radius: 5px;
  border: transparent solid 2px;
  font-size: 16px;
  height: 30px;
  width: 160px;
  margin: 5px;
}

.list-item {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  width: 70%;
  border-radius: 5px;
  background-image: linear-gradient(#2FBF71, #8CD867);
  border: white solid 2px;
  padding: 8px;
  margin: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s;
}

#loading {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gear {
  color: white;
  height: 150px;
  width: 150px;
  margin-top: 100px;
  animation: fadeIn 1s, rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#list-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 5px;
  font-size: 28px;
  animation: fadeIn 1s;
}

#list-div {
  width: 99%;
  margin-top: 10px;
}

#list {
  color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#prev-searches {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 5px;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s;
}

.search-item {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 20px;
}

#alert-gang {
  margin-top: 30px;
  font-size: 50px;
  color: white;
  font-family: 'Libre Barcode 128 Text', cursive;
  animation: fadeIn 3s;
}